/* COMMON */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* html {
  scroll-behavior: smooth;
} */
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

.inner {
  /* background-color: red; */
  max-width: 1516px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/* HEADER  */
header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid white;
}

header .inner {
  display: flex;
  height: 75px;
  padding: 20px 50px;
}

header .main-menu {
  display: flex;
  color: white;
  margin-left: 152px;
  justify-content: space-between;
  width: 700px;
}

header .main-menu li a {
  z-index: 1030;
  font-size: 20px;
  font-family: "Pretendard-Medium";
}

/* HEADER  */
.hamburger-btn {
  background-image: url(../images/hamburger.png);
  width: 41px;
  height: 41px;
  background-size: contain;
  background-position: center;
  display: none;
}

.side_bg {
  display: none;
  background-color: rgba(0, 0, 0, 0.541);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5555;
}
.side_bg .hamburger-side-menu {
  background-color: white;
  width: 50%;
  height: 100vh;
  position: fixed;
  right: 0;
  padding: 40px;
}
.side_bg .hamburger-side-menu .side_cancelBtn {
  width: 45px;
  height: 45px;
  background-image: url(../images/cancel.svg);
  position: absolute;
  right: 10%;
}
.side_bg .hamburger-side-menu .side_menu {
  margin-top: 168px;
}
.side_bg .hamburger-side-menu .side_menu a {
  display: block;
  font-family: "Pretendard-Medium";
  font-size: 22px;
  color: black;
  margin-top: 43px;
}

#hero_section {
  background-image: url("../images/hero-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 970px;
}

#hero_section .bg_dark {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.19));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 970px;
}

#hero_section .company_copy {
  width: 600px;
  position: absolute;
  /* right: 345px; */
  right: 0%;
  bottom: 200px;
  z-index: 5;
  text-shadow: 0 0 6px #000;
}

.company_copy .company_identity {
  text-align: right;
  font-size: 68px;
  line-height: 83px;
  color: white;
  margin-right: 12px;
  font-family: "Montserrat", sans-serif;
}

/* .company_copy div:nth-of-type(1) {
  margin-right: 24px;
} */
.company_copy .company_identity {
  position: relative;
}

.company_copy div:nth-of-type(2)::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  right: -12px;
  bottom: 0;
  border-radius: 50%;
  background-color: red;
}

.company_copy .company_detail {
  margin-top: 20px;
  text-align: right;
  font-family: "Pretendard-Light";
  font-size: 24px;
  line-height: 42px;
  color: white;
}

.company_copy .more_button {
  width: 234px;
  height: 64px;
  border: 2px solid #fff;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Pretendard-Light";
  font-size: 24px;
  font-weight: 300;
  position: absolute;
  right: 0;
  margin-top: 25px;
}

#about_company {
  position: relative;
  width: 100%;
  height: auto;
}

.intro {
  text-align: center;
  padding-top: 90px;
  /* display: flex;
    flex-direction: column;
    align-items: center;
  */
}

.intro h1 {
  margin: 0 auto;
  width: 208px;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #232323;
  position: relative;
}

.intro h2 {
  font-family: "Pretendard-Medium";
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  margin-top: 20px;
}

.intro p {
  font-family: "Pretendard-Light";
  font-size: 18px;
  margin-top: 20px;
}

#about_company h1::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  right: -8px;
  bottom: 13px;
  border-radius: 50%;
  background-color: red;
}

#about_company .company_factory {
  bottom: 17px;
  margin: 0 auto;
  margin-top: 32px;
  max-width: 952px;
  width: 100%;
  height: auto;
}

#company_history {
  position: relative;
  width: 100%;
  height: 970px;
  background-color: #f9f9f9;
}

#company_history .inner {
  height: auto;
}

#company_history .intro h1::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  right: 8px;
  bottom: 13px;
  border-radius: 50%;
  background-color: red;
}

#company_history .histroy_card_container {
  margin-top: 50px;
  padding: 0 300px;
}

#company_history .histroy_card_container .row {
  display: flex;
  justify-content: space-between;
}

#company_history .histroy_card_container .row:nth-child(2) {
  margin-top: 17px;
}

#company_history .histroy_card {
  width: calc(98% * 1 / 3);
  height: 306px;
  padding: 30px;
  padding-bottom: 36px;
  background-color: salmon;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 24px 24px 24px 0;
}

#company_history .histroy_card img {
  width: 60px;
  height: 60px;
}

#company_history .histroy_card h1 {
  width: 32px;
  height: 33px;
  margin-top: 12px;
  font-family: "Pretendard-Bold";
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #e60012;
}

#company_history .histroy_card h2 {
  width: 83px;
  height: 27px;
  margin-top: 8px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  color: #232323;
}

#company_history .histroy_card p {
  width: 100%;
  margin-top: 6px;
  font-family: "Pretendard-Light";
  font-size: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #232323;
}

#business_area {
  width: 100%;
  height: 970px;
  background-image: url("../images/business_area_bg.png");
  background-repeat: no-repeat;
}

#business_area .intro h1 {
  width: 369px;
}

#business_area .intro h1::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  right: 8px;
  bottom: 13px;
  border-radius: 50%;
  background-color: red;
}

.business_card_container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
}

.business_card_container .business_card {
  flex: 1;
  max-width: 364px;
  height: 514px;
  padding-top: 289px;
  padding-left: 27px;
  position: relative;
  border-radius: 12px;
  margin: 0px 20px;
  /* border: 1px solid red;
  background-image: url("../images/business_card_bg01.png"); */
}

.business_card_container .business_card:nth-child(1) {
  background-image: url("../images/business_card_bg01.png");
  background-size: cover;
}

.business_card_container .business_card:nth-child(2) {
  background-image: url("../images/business_card_bg02.png");
  background-size: cover;
}

.business_card_container .business_card:nth-child(3) {
  background-image: url("../images/business_card_bg03.png");
}

.business_card_container .business_card:nth-child(4) {
  background-image: url("../images/business_card_bg04.png");
}

.business_card_container .business_card .bg_dark {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 514px;
}

.business_card_container .business_card h1 {
  font-family: "Pretendard-Light";
  margin-bottom: 31px;
  font-size: 28px;
  color: #fff;
  z-index: 10;
  position: relative;
}

.business_card_container .business_card p {
  position: relative;
  font-family: "Pretendard-Light";
  font-size: 16px;
  color: #fff;
  margin-bottom: 8px;
  z-index: 10;
}

/* PROJECT */
#company_project {
  width: 100%;
  height: 970px;
  background-color: #f9f9f9;
  background-image: url("../images/project-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

#company_project .inner {
  height: 970px;
  /* padding-bottom: 32.5px; */
}

#company_project .intro h1::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  right: 4px;
  bottom: 13px;
  border-radius: 50%;
  background-color: red;
}

.project_card_container {
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
}

.project_card_container .project_card {
  flex: 1;
  max-width: 492px;
  max-height: 582px;
  height: auto;
  border-radius: 12px 12px 0 0;
  background-color: white;
  margin: 0 20px;
}

.project_card_container .project_card .project_card__text_container {
  /* padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 36px 40px 68px 40px;
}

.project_card_container .project_card .project_card_img_top {
  /* max-width: 492px; */
  width: 100%;
  height: auto;
}

.project_card_container .project_card h1 {
  font-family: "Pretendard-Bold";
  font-size: 28px;
  text-align: left;
  color: #232323;
}

.project_card .project_link h1 {
  font-size: 24px;
  margin-top: 56px;
  font-family: Montserrat;
  font-weight: 700;
}

.project_card_container .project_card p {
  font-family: "Pretendard-Light";
  font-size: 16px;
  margin-top: 18px;
}

.project_card_container .project_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project_card_container .project_link .project__link_icon {
  flex-basis: 10%;
  width: 43px;
  height: 14px;
  margin-top: 56px;
}

/* CONNECT */
#connect {
  width: 100%;
  height: 870px;
  background-image: url("../images/connect_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

#connect .connect-bg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#connect .inner {
  width: 748px;
  height: 870px;
  /* padding-bottom: 32.5px; */
}

#connect .intro h1::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  right: -4px;
  bottom: 13px;
  border-radius: 50%;
  background-color: red;
}

#connect .form-elements .row {
  display: flex;
  justify-content: space-between;
}
#connect .form-elements .row:first-child {
  margin-top: 82px;
}
#connect .form-elements .row:nth-child(2) {
  margin-top: 44px;
}

#connect .form-elements .form-elements__box {
  display: flex;
  flex-basis: 48%;
  flex-direction: column;
}

#connect .form-elements .form-elements__box label {
  margin-bottom: 24px;
  color: #2b1515;
  font-size: 18px;
  font-family: "Pretendard-Light";
}

#connect .form-elements .form-elements__box.message__box {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

#connect .form-elements .form-elements__box input {
  border-radius: 10px;
  border: solid 1px #808080;
  height: 50px;
  padding-left: 24px;
}

#connect .form-elements .form-elements__box.message__box textarea {
  text-align: left;
  height: 140px;
  border-radius: 10px;
  border: solid 1px #808080;
  padding: 24px;
}

#connect .form-elements .button-success {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 212px;
  height: 62px;
  border-radius: 10px;
  border: solid 2px #919191;
  background-color: #919191;
  font-family: "Pretendard-Light";
  font-size: 22px;
  margin-top: 55px;
}

#company_info {
  background-color: #f9f9f9;
}

#company_info .company_info_container {
  display: flex;
  justify-content: space-between;
}

#company_info .company_info_container .company_info_card {
  flex-basis: 32%;
}

#company_info .inner {
  padding: 128px 50px 0 50px;
}

#company_info .company_info_container {
  position: relative;
}

#company_info .company_info_container .company_info_card .img-box {
  height: 50px;
}

#company_info .company_info_container .company_info_card h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 22px;
  margin-top: 40px;
  word-wrap: break-word;
  word-break: keep-all;
}

#company_info .company_info_container .company_info_card p {
  font-family: "Pretendard";
  font-size: 18px;
  margin-top: 16px;
}

.location-label {
  font-family: "Pretendard-Light";
  font-size: 18px;
  margin-bottom: 10px;
}

/* #company_info .company_info_container::after {
  content: "";
  width: 100%;
  height: px;
  border: 5px solid black;
  bottom: 0;
  position: absolute;
} */
#company_info hr {
  margin: 50px auto;
  color: #707070;
}

#daumRoughmapContainer1634509338788 .wrap_map {
  height: 80%;
}

#footer {
  width: 100%;
  background-color: #333333;
}

#footer .inner {
  /* width: 100%; */
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .company_info_summary {
  font-family: "Pretendard-Light";
  font-size: 18px;
  color: #fff;
  margin-left: 50px;
}

.active {
  display: flex;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1640px) {
  #company_history .histroy_card_container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  #hero_section {
    background-image: url("../images/hero-image@768.png");
    width: 100%;
    height: 970px;
  }

  .inner {
    padding: 0 50px;
    position: relative;
  }

  header .main-menu {
    display: none;
  }

  .hamburger-btn {
    display: block;
    position: absolute;
    right: 50px;
  }

  .company_copy .company_identity {
    font-size: 54px;
    line-height: 66px;
  }

  #hero_section .company_copy {
    right: 9%;
  }

  .company_copy .company_detail {
    font-size: 20px;
    margin-top: 25px;
  }

  .company_copy .more_button {
    margin-top: 25px;
    font-size: 19px;
    width: 186px;
    height: 50px;
  }

  .intro h2 {
    margin-top: 22px;
  }
  .intro p {
    margin-top: 30px;
  }

  #company_history {
    height: 100%;
  }
  #company_history .histroy_card_container {
    padding: 0px;
    margin-top: 34px;
  }
  #company_history .histroy_card_container .row:nth-child(2) {
    margin-top: 0;
  }
  #company_history .row {
    flex-direction: column;
  }
  #company_history .histroy_card {
    width: 100%;
    height: 204px;
    border-radius: 0;
    flex-direction: row;
    align-items: center;
    padding: 0 80px;
  }
  #company_history .histroy_card img {
    width: 100px;
    height: 100px;
  }
  #company_history .histroy_card p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    font-size: 18px;
    line-height: 28px;
  }
  #company_history .histroy_card .histroy_text {
    margin-left: 15px;
  }
  #company_history .histroy_card .histroy_text h1 {
    font-size: 22px;
  }
  #company_history .histroy_card .histroy_text h2 {
    font-size: 24px;
    font-weight: 600;
  }
  #company_history .inner {
    padding: 0;
    padding-bottom: 80px;
  }

  #business_area {
    height: 100%;
  }
  #business_area .inner {
    padding-bottom: 90px;
  }
  #business_area .business_card_container {
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #business_area .business_card_container .business_card {
    width: 296px;
    min-width: 258px;
    height: 418px;
    margin: 0;
    padding-top: 220px;
    margin-top: 20px;
  }
  #business_area .business_card_container .business_card h1 {
    font-size: 26px;
  }
  #business_area .business_card_container .business_card .bg_dark {
    height: 100%;
  }
  #business_area .business_card_container .business_card:nth-child(1), #business_area .business_card_container .business_card:nth-child(3) {
    margin-right: 20px;
  }

  #company_project {
    height: 100%;
  }
  #company_project .inner {
    height: 100%;
    padding-bottom: 90px;
  }
  #company_project .project_card_container {
    flex-direction: column;
    align-items: center;
    margin-top: 73px;
  }
  #company_project .project_card {
    width: 100%;
    height: auto;
  }
  #company_project .project_card:nth-child(2), #company_project .project_card:nth-child(3) {
    margin-top: 50px;
  }

  #connect {
    height: 100%;
    background-image: url(../images/connect_bg@768.png);
  }
  #connect .form-elements .row {
    flex-direction: column;
  }
  #connect .form-elements__box:nth-child(2) {
    margin-top: 33px;
  }
  #connect .inner {
    height: 100%;
    width: 100%;
    padding: 0 50px 90px 50px;
  }

  #company_info .inner {
    padding-top: 0;
  }
  #company_info .company_info_container {
    flex-direction: column;
  }
  #company_info .company_info_container .company_info_card h1 {
    margin-top: 10px;
  }
  #company_info .company_info_container .company_info_card .img-box {
    margin-top: 48px;
  }
}
@media screen and (max-width: 576px) {
  .inner {
    padding: 0 40px;
  }

  .company_copy .company_identity {
    font-size: 42px;
  }
  .company_copy .company_detail {
    font-size: 18px;
    margin-top: 14px;
  }
  .company_copy .more_button {
    font-size: 18px;
    margin-top: 26px;
    width: 168px;
    height: 45px;
  }
  .company_copy div:nth-of-type(2)::after {
    right: -19px;
    bottom: 9px;
  }

  #about_company h1::after {
    right: 10px;
    bottom: 8px;
  }
  #about_company .company_factory {
    margin-top: 147px;
  }

  .intro h1 {
    font-size: 30px;
  }
  .intro h2 {
    font-size: 28px;
    margin-top: 16px;
  }
  .intro p {
    margin-top: 32px;
  }

  #company_history .intro h1::after {
    right: 20px;
  }
  #company_history .histroy_card {
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 229px;
  }
  #company_history .histroy_card img {
    width: 70px;
    height: 70px;
  }
  #company_history .histroy_card .histroy_text h1,
#company_history .histroy_card .histroy_text h2 {
    font-size: 20px;
  }
  #company_history .histroy_card .histroy_text h1 {
    height: 30px;
  }
  #company_history .histroy_card .histroy_text h2 {
    margin-top: 8px;
  }
  #company_history .histroy_card p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 12px;
    margin-left: 0;
  }

  #business_area {
    background-image: url(../images/business_area_bg@576.png);
    background-size: cover;
  }
  #business_area .intro h1 {
    width: 303px;
  }
  #business_area .intro h1::after {
    right: 10px;
    bottom: 10px;
  }
  #business_area .business_card_container {
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  #business_area .business_card_container .business_card {
    width: 406px;
    height: 514px;
    margin-top: 52px;
    padding-top: 293px;
  }
  #business_area .business_card_container .business_card h1 {
    font-size: 31px;
    font-family: "Pretendard-Bold";
    margin-bottom: 33px;
  }
  #business_area .business_card_container .business_card p {
    font-size: 18px;
  }
  #business_area .business_card_container .business_card:nth-child(1),
#business_area .business_card_container .business_card:nth-child(3) {
    margin-right: 0px;
  }

  #company_project .intro h1::after {
    right: 20px;
    bottom: 8px;
  }

  #connect .inner {
    width: auto;
  }
  #connect .intro h1::after {
    right: 12px;
    bottom: 9px;
  }
  #connect .form-elements .form-elements__box label {
    margin-bottom: 18px;
  }

  #footer .company_info_summary {
    font-size: 16px;
  }
}
@media screen and (max-width: 430px) {
  .side_bg .hamburger-side-menu {
    width: 100%;
  }

  #hero_section .company_copy {
    width: 300px;
  }
  #hero_section .company_copy .company_identity {
    font-size: 35px;
  }
  #hero_section .company_copy .company_detail {
    text-align: right;
  }

  #about_company .company_factory {
    margin-top: 58px;
  }

  #company_history .inner {
    padding: 0px 40px 0 40px;
  }
  #company_history .histroy_card p {
    font-size: 15px;
  }

  #footer .company_info_summary {
    font-size: 14px;
    margin-left: 0;
    margin-top: 10px;
  }

  .inner {
    flex-direction: column;
    padding-top: 10px;
  }
}/*# sourceMappingURL=styles.css.map */